@charset "ISO-8859-1";

#menu {
	display: table;
}

.menu_item {
	display: table-cell;
	padding-right: 25px;
}

.menu_item img {
	height: 64px;
	width: 64px;
	border: gray 1px solid;
	padding: 4px;
	border-radius: 5px;
}

.page_heading {
	padding: 15px;
	font-family: arial, sans-serif;
	font-size: 25px;
	color: #0005cc;
	font-family: arial, sans-serif;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

table.list {
	font-size: 16px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	border-spacing: 0;
}

table.list  td, table.list  th {
	border: 1px solid #ddd;
	text-align: left;
	padding: 12px;
}

table.list tr:nth-child(even) {
	background-color: #f2f2f2
}

table.list  th {
	padding-top: 11px;
	padding-bottom: 11px;
	background-color: #3EADA6;
	color: white;
}

.category_menu_item {
	font-size: 18px;
	font-style: bold;
	padding-right: 10px;
	padding-left: 10px;
}

.quickaction_item {
	font-size: 16px;
	font-style: bold;
	padding-right: 8px;
	padding-left: 8px;
}

form table td {
	padding: 6px;
}

form input {
	border: #3EADA6 1px solid;
	height: 20px;
	border-radius: 5px;
	padding-left: 8px;
}

form input[type='button'], form input[type='submit'] {
	border: gray 1px solid;
	height: 20px;
	border-radius: 5px;
}

#book_form{
	width: 80%; 
}

.error {
	padding-left: 12px;
	color: red;
}

.book_detail_container {
	border: 1px solid gray;
	background: white;
	border-radius: 10px;
	padding: 15px;
	margin-right: 20px;
	width: 80%;
}

.book_detail_img_container {
	display: inline-block;
	padding-right: 30px;
	border-right: 1px solid #efeded;
}

.book_detail_img {
	width: 300px;
	height: 390px;
}

.book_detail_info_container {
	display: inline-block;
	vertical-align: top;
	margin-left: 30px;
	width: 500px;
}

.book_detail_title {
	font-size: 24px;
	padding: 5px;
}

.book_detail_price {
	font-size: 22px;
	color: #ffc107;
	padding: 5px;
}

.book_detail_description {
	padding: 5px;
	text-align: left
}

.book_detail_description_head {
	font-size: 18px;
}

.book_detail_Rating {
	padding: 5px;
	font-size: 18px;
}

.book_detail_button_container {
	padding: 5px;
	vertical-align: bottom;
	margin: 30px;
}

.book_detail_buy_button {
	font-size: 20px;
	padding: 8px;
	color: white;
	background: #007bff;
	border-radius: 5px;
	margin: 10px;
}

.book_detail_cart_button {
	font-size: 20px;
	padding: 8px;
	border: 1px solid #007bff;
	color: #007bff;
	background: white;
	border-radius: 5px;
	margin: 10px;
}

.book_list_container {
	display: inline-block;
	border: 1px solid gray;
	border-radius: 10px;
	padding: 15px;
	margin-right: 20px;
}

.book_list_img {
	width: 150px;
	height: 200px
}

.book_list_title {
	font-size: 18px;
}

.book_search_container {
	border: 1px solid gray;
	background: white;
	border-radius: 10px;
	padding: 15px;
	margin-right: 20px;
	margin-top: 20px;
	width: 70%;
}

.book_search_img_container {
	display: inline-block;
	padding-right: 30px;
	border-right: 1px solid #efeded;
}

.book_search_info_container {
	display: inline-block;
	vertical-align: top;
	margin-left: 30px;
	border-right: 1px solid #efeded;
}

.book_search_title {
	font-size: 24px;
	padding: 5px;
}

.book_search_description_container {
	padding: 5px;
	width: 500px;
	text-align: left;
}

.book_search_description {
	font-size: 18px;
}

.book_search_rating {
	padding: 10px;
	font-size: 20px;
}

.book_search_buy_container {
	display: inline-block;
	padding: 5px;
	vertical-align: bottom;
	margin: 30px;
	vertical-align: top;
}

.book_search_price {
	font-size: 24px;
	color: #ffc107;
	padding: 15px;
	margin: 10px;
}

.book_search_buy {
	font-size: 20px;
	padding: 8px;
	color: white;
	background: #007bff;
	border-radius: 5px;
	margin: 20px;
}

.book_search_cart {
	font-size: 20px;
	padding: 8px;
	border: 1px solid #007bff;
	color: #007bff;
	background: white;
	border-radius: 5px;
	margin: 10px;
}

body {
	background-color: #f3f3f3;
}